.reaction {
  composes: iconFont from "../../styles/global.css";
  z-index: 100000000;
  display: inline-block;   
  margin-right: 8px;
  animation-duration: 0.1s !important;
}
.signal {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}
.photo {
  width: 56px;
  height: 56px;
  border-radius: 0 0 50% 50%;
}