.reaction {
  composes: iconFont from "../../styles/global.css";
  z-index: 100000000;
  display: inline-block;    
}
.signal {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}
.photo {
  width: 56px;
  height: 56px;
}

.fadeOut {
  animation: cssAnimation 0.5s ease-in 5s forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
